<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="../public/chat.css">
</head>
<body>
    <div class="screen">
        <div class="box">
            <div class="chatname">
            <b>Room Name</b> : {{id}}
            <button class="leave" onclick="leave_room()">leave room</button>
            </div>
            
            <div id="messages"></div>
            <div class="bar">
                <input type="text" name="message" id="message" placeholder="Message..." autocomplete="off">
                <button type="button" name="button" id="button" onclick="send()">send</button>
            </div>
        </div>
    </div>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
    <script src="../public/chat.js"></script>
</body>
</html>